logs
project/project
project/target
public/DevicePusher
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
/.cache
project/play-fork-run.sbt
project/.sbtserver.lock
project/sbt-ui.sbt
.sbtserver
.cache-main
