
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body {
  //overflow: hidden;
}

.font-sans {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.font-cursive {
  font-family: 'Fugaz One', cursive;
  font-weight: 400;
}

.font-serif {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

@grey: #CCCCCC;
//@blue: #3498DB;
@green: #458B00;
@yellow: #f1c40f;
@red: #c0392b;
@orange: #d35400;
@midnight-blue: #2c3e50;
@blue: #2980b9;

@primary: @midnight-blue;
// @primary: white;
@secondary: @orange;




@background: white;
@labels: @secondary; // lighten(black, 60%);
@icons: @primary;

.circled {
  border-radius: 50%;
  background-clip: border-box;
  background-color: @primary;
}

@grey: #616161;

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

body {
  background-color: @background;
  .font-sans;
}

.global-footer {
  margin-top: 5em;
  padding: 2em;
  text-align: center;
  background-color: @primary;
  .font-serif;
  a {
    color: white;
  }
}

article {
  display: block;
  width: 100%;
  //background-color: darken(white, 20%);

  section {
    display: inline-block;
    margin: 1em;
    background-color: @background;

    .status {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 4em;
      padding: 0.2em 1em 0.2em 1em;
    }

    .committers {
      min-height: 5em;
      padding: 0.2em 1em 0.2em 1em;
    }

    .tests {
      text-align: center;
      font-size: 4em;
      padding: 0.2em 1em 0.2em 1em;
    }
  }
}

.stable {
  background-color: @green;
  color: white;
}
.unstable {
  background-color: @yellow;
  color: white;
}
.failed {
  background-color: @red;
  color: white;
}
.cancelled {
  background-color: @grey;
  color: white;
}
.pending {
  background-color: @grey;
  color: white;
}
